@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="error">
        <h2>Upsss....</h2>
        <h3>Somthing going wrong! Try again in while</h3>
    </div>
</body>
</html>
